body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* < -- nav --> */
nav {
  margin: 0;
  float: left;
  background-color: blueviolet;
  height: calc(100% - 55px);
  width: 250px;
}
.navbutton {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 3px solid greenyellow;
}
.navbutton:hover {
  background-color: aquamarine;
}
@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}
/* < -- nav --> */

/* < -- header --> */
header {
  height: 55px;
  width: 100%;
  background-color: aquamarine;
}

#headerBar {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#mainLogo {
  width: 250px;
  height: 55px;
  background-color: pink;

  border: 0px;
}

#inputBox {
  height: 55px;
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;
}

#welcomeMent {
  width: 250px;
  height: 55px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#userNameBox {
  height: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

#userName {
  font-weight: bold;
}

#welcome {
  height: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}
/* < -- header --> */

/* < -- table --> */
img{
    height:10rem;
    width:10rem;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border : 1px solid rgb(37, 37, 37);
  border-radius : 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width :200px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*< -- table -->*/